{% extends 'app/index.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
     <div class="col-sm-4 shadow p-4 mt-3">
      <h3>Upload Data</h3>
      <hr>
      <form action="" method="post" enctype="multipart/form-data"  class="shadow">
       {% csrf_token %}
       <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="file" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Select file</label>
        </div>
      </div>
            <!-- <input type="file" name="file" class="form-control"> -->
           <input type="submit" class="btn btn-primary mt-4" value="Start Upload">
      </form>
     </div>
    </div>
</div>


{% endblock content %}